<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/head.html") %>
        <!-- Importar CSS específicos -->
        <link rel="stylesheet" href="/css/mail.css">
        <!-- Importar JS específicos -->
        <script src="/js/mail.js"></script>
</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/modal.html") %>

        <!-- Importar nav -->
        <%- include("nav", { generalInfo: generalInfo }) %>

            <div id="div-mail" class="d-flex">
                <!-- Bandeja de entrada -->
                <div id="div-inbox" class="col-5 flex-column">
                    <!-- Botón redactar -->
                    <button id="button-compose" type="button" data-answer="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                        Redactar
                    </button>
                    <!-- Correos -->
                    <div>
                        <% messages.forEach(msg=> { %>
                            <div class="div-message d-flex justify-content-between" data-message="<%= JSON.stringify(msg) %>">
                                <!-- Usuario origen y asunto -->
                                <div>
                                    <h2 id="h2-sender-<%= msg.id %>" <% if (!msg.readDate) { %> class="font-bold" <% } %>><%= msg.senderUsername %>@<%= universityMail %>
                                    </h2>
                                    <p id="p-subject-<%= msg.id %>" <% if (!msg.readDate) { %> class="font-bold" <% } %>><%= msg.subject %>
                                    </p>
                                </div>
                                <!-- No leído y fecha -->
                                <div class="div-date d-flex flex-column">
                                    <% if (!msg.readDate) { %>
                                        <img id="img-unread-dot-<%= msg.id %>" src="/img/unread.png" alt="No leído" width="15">
                                        <% } %>
                                            <p>
                                                <%= msg.sendDate %>
                                            </p>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <!-- Visualización correo -->
                <div id="div-show-mail-container" class="col-7 flex-column">
                    <form id="div-show-mail">
                        <div id="div-mail-title" class="d-flex align-items-center">
                            <button id="button-mail-back" class="button-riu bg-riu-primary d-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="white" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                </svg>
                                Atrás
                            </button>
                            <h1 id="h1-message">Nuevo mensaje</h1>
                        </div>
                        <!-- Usuario origen/destino -->
                        <div class="d-flex flex-column">
                            <div>
                                <label for="input-mail-user">Usuario:</label>
                                <input id="input-mail-user" type="text" value="">
                                <p id="p-mail-university" class="d-inline">@<%= universityMail %>
                                </p>
                            </div>
                            <% if (generalInfo.isAdmin) { %>
                                <div id="div-mail-admin" class="d-flex align-items-center">
                                    <div>
                                        <label id="label-faculty" for="input-faculty" title="Enviar a todos los usuarios de una facultad">Facultad:</label>
                                        <select id="input-faculty" aria-required="true">
                                            <option value="">Selecciona una opción</option>
                                            <% faculties.forEach((fac)=> { %>
                                                <option value="<%= fac.name %>">
                                                    <%= fac.name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <label id="label-university" title="Enviar a toda la universidad" class="d-flex align-items-center">
                                        <input id="input-university" type="checkbox" class="checkbox-riu" aria-required="true">
                                        Universidad
                                    </label>
                                </div>
                                <% } %>
                        </div>
                        <!-- Asunto -->
                        <div id="div-subject" class="d-flex align-items-center">
                            <div>
                                <label for="input-mail-subject">Asunto:</label>
                                <input id="input-mail-subject" type="text">
                            </div>
                        </div>
                        <!-- Mensaje -->
                        <div class="d-flex flex-column">
                            <label id="label-mail-message" for="textarea-mail-message" title="Campo obligatorio">Mensaje:</label>
                            <textarea id="textarea-mail-message" cols="30" rows="7" placeholder="Escribe aquí tu mensaje..."></textarea>
                        </div>
                        <!-- Submit -->
                        <input id="input-sb-mail" type="submit" value="Enviar" class="button-riu bg-riu-primary">
                    </form>
                </div>
            </div>

            <!-- Alerta de mensaje enviado -->
            <button id="button-alert-message" hidden="true" type="button" class="btn btn-primary">Show live toast</button>

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="toast-alert-message" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="/img/icons/success.png" class="rounded me-2" alt="Icono de éxito" width="20" height="20">
                        <strong class="me-auto">Mensaje enviado</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Tu mensaje se ha enviado con éxito.
                    </div>
                </div>
            </div>

            <!-- Importar footer -->
            <%- include("footer", { generalInfo: generalInfo }) %>
</body>

</html>