<!DOCTYPE html>
<html lang="es">

<body>
    <nav class="d-flex align-items-center justify-content-between bg-riu-primary">
        <!-- Inicio -->
        <div>
            <a id="a-nav" href="/inicio" class="d-flex align-items-center" title="Volver a inicio">
                <% if (generalInfo.hasLogo) { %>
                    <img src="/fotoUniversidad/<%= generalInfo.idUniversity %>" alt="Logo <%= generalInfo.name %>" width="60" height="60">
                <% } else { %>
                    <img src="/img/default/university.png" alt="Logo universidad por defecto" width="60">
                <% } %>
                <h1 id="h1-nav">
                    <%= generalInfo.name %>
                </h1>
            </a>
        </div>
        <!-- Correo y menú -->
        <div class="d-flex align-items-center">
            <!-- Correo con nº no leídos -->
            <a id="a-nav-mail" href="/personal/correo" class="position-relative" title="Correo">
                <img src="/img/mail.png" alt="Símbolo correo" width="60">
                <% if (generalInfo.messagesUnread > 0 ) { %>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-riu-blue">
                        <%= generalInfo.messagesUnread %>
                        <span class="visually-hidden">Correos no leídos</span>
                    </span>
                <% } %>
            </a>
            <!-- Menú dropdown de Perfil -->
            <div class="dropdown">
                <!-- Botón de perfil normal -->
                <button id="button-nav-profile" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Desplegable del perfil">
                    <% if (generalInfo.hasProfilePic) { %>
                        <img src="/fotoPerfil/<%= generalInfo.idUser %>" alt="Foto de perfil" width="50">
                    <% } else { %>
                        <img src="/img/default/profile.png" alt="Foto de perfil" width="50">
                    <% } %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="white" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </button>
                <!-- Menú hamburguesa -->
                <button id="button-nav-hamburger" type="button" data-bs-toggle="dropdown" aria-expanded="false" class="d-none" title="Desplegable del perfil y correo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/personal/perfil" class="dropdown-item">Mi perfil</a></li>
                    <!-- Sólo se muestra en pantallas MD -->
                    <li id="li-nav-mail" class="d-none">
                        <a href="/personal/correo" class="dropdown-item">
                            Mi correo
                            <% if (generalInfo.messagesUnread > 0 ) { %>
                                <span class="badge rounded-pill bg-riu-blue">
                                    <%= generalInfo.messagesUnread %>
                                    <span class="visually-hidden">Correos no leídos</span>
                                </span>
                            <% } %>
                        </a>
                    </li>
                    <% if (!generalInfo.isAdmin) { %>
                        <li><a href="/usuario/reservas" class="dropdown-item">Mis reservas</a></li>
                    <% } %>
                    <li>
                        <form id="form-logout" method="POST" action="/logout">
                            <a id="a-logout" class="dropdown-item"><button class="m-0 p-0">Cerrar sesión</button></a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>