<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/reservations.css">
    <!-- Importar JS específicos -->
    <script src="/js/user_reservations.js"></script>
</head>

<body data-error="<%= JSON.stringify(error) %>">
    <!-- Importar modal error -->
    <%- include("../public/modal.html") %>

    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>

    <!-- RESERVAS -->
    <div id="div-reservations-container" class="d-flex">
        <!-- ACTUALES -->
        <div class="col">   
            <div id="div-current-reservations" class="div-reservations accordion">
                <div>
                    <h1>Reservas pendientes</h1>
                </div>
                <hr>
                <div>
                    <!-- Si no hay reservas actuales, mostrar mensaje -->
                    <% if (currentReservations.length === 0) { %>
                        <p>Actualmente no tienes ninguna reserva pendiente</p>                    
                    <% } else { currentReservations.forEach((cr, i) => { %>
                                <div id="div-reservation-<%= cr.id %>" class="accordion-item">
                                    <!-- Exterior -->
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#div-current-reservation-<%= i %>" aria-expanded="false" aria-controls="div-current-reservation-<%= i %>">
                                            <!-- Foto instalación reservada -->
                                            <% if (cr.hasPic) { %>
                                                <img src="/fotoInstalacion/<%= cr.idFacility %>" alt="Foto instalación reservada" width="60" height="60">
                                            <% } else if (cr.typeHasPic) { %>
                                                <img src="/fotoTipoInstalacion/<%= cr.idFacilityType %>" alt="Foto instalación reservada" width="60" height="60">
                                            <% } else { %>
                                                <img src="/img/default/facility.png" alt="Foto instalación reservada" width="60" height="60">
                                            <% } %>
                                            <!-- Info de la reserva -->
                                            <div class="div-reservation-info d-flex flex-column">
                                                <div class="div-reservation-info-main d-flex align-items-center">
                                                    <h2 class="m-0 me-2">
                                                        <%= cr.facilityName %>
                                                        <% if (cr.queued) { %>
                                                            <img src="/img/icons/queued.png" alt="Estás en cola de espera" title="Estás en cola de espera" width="20" height="20">
                                                        <% } %>
                                                    </h2>                                                    
                                                </div>                                            
                                                <p class="m-0 mt-2"><%= cr.date %></p>
                                            </div>
                                        </button>
                                    </h2>
                                    <!-- Desplegable -->
                                    <div id="div-current-reservation-<%= i %>" class="accordion-collapse collapse" data-bs-parent="#div-current-reservations">
                                        <% if (cr.queued) { %>
                                            <p class="p-queue-message font-bold">¡Atención! Estás en la cola de espera. Si los que tienes delante cancelan su reserva, será tuya.</p>
                                        <% } %>
                                        <div class="accordion-body d-flex">
                                            <!-- Datos reserva -->
                                            <div class="div-reservation-extended col">
                                                <p>Hora: <%= cr.hour %></p>
                                                <p>Nº Personas: <%= cr.nPeople %></p>
                                                <p>Reserva realizada el <%= cr.reservationDate%></p>
                                            </div>
                                            <div class="div-modal-cancel col d-flex align-items-end justify-content-end">
                                                <!-- MODAL CANCELAR -->
                                                <button class="button-riu bg-riu-primary button-cancel-reservation" data-bs-toggle="modal" data-bs-target="#div-modal-cancel-<%= i %>">Cancelar</button>
                                                <%- include("confirm_modal", { 
                                                    idConfirmModal: `div-modal-cancel-${i}`, 
                                                    pConfirmModal: "¿Estás seguro de que quieres cancelar tu reserva? No se puede deshacer esta acción.", 
                                                    buttonSbConfirmModal: "button-sb-cancel",
                                                    dataName: "idReservation",
                                                    dataValue: cr.id }) %>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                    <% }); } %>
                    
                </div> 
            </div>
        </div>
        
        <!-- PASADAS -->
        <div class="col">   
            <div id="div-old-reservations" class="div-reservations accordion">
                <div>
                    <h1>Reservas pasadas</h1>
                </div>
                <hr>
                <div>
                    <!-- Si no hay reservas actuales, mostrar mensaje -->
                    <% if (oldReservations.length === 0) { %>
                        <p>Todavía no has hecho ninguna reserva.</p>                    
                    <% } else { oldReservations.forEach((or, i) => { %>
                                <div class="accordion-item">
                                    <!-- Exterior -->
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed old" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#div-old-reservation-<%= i %>" aria-expanded="false" aria-controls="div-old-reservation-<%= i %>">
                                            <% if (or.hasPic) { %>
                                                <img src="/fotoInstalacion/<%= or.idFacility %>" alt="Foto instalación reservada" width="60" height="60">
                                            <% } else if (or.typeHasPic) { %>
                                                <img src="/fotoTipoInstalacion/<%= or.idFacilityType %>" alt="Foto instalación reservada" width="60" height="60">
                                            <% } else { %>
                                                <img src="/img/default/facility.png" alt="Foto instalación reservada" width="60" height="60">
                                            <% } %>
                                            <!-- Info de la reserva -->
                                            <div class="div-reservation-info d-flex flex-column">
                                                <h2 class="me-2"><%= or.facilityName %></h2>              
                                                <p class="m-0"><%= or.date %></p>
                                            </div>
                                        </button>
                                    </h2>
                                    <!-- Desplegable -->
                                    <div id="div-old-reservation-<%= i %>" class="accordion-collapse collapse" data-bs-parent="#div-old-reservations">
                                        <div class="accordion-body d-flex">
                                            <!-- Datos reserva -->
                                            <div class="div-reservation-extended col">
                                                <p>Hora: <%= or.hour %></p>
                                                <p>Nº Personas: <%= or.nPeople %></p>
                                            </div>
                                            <div class="div-old-reservation-date col d-flex flex-column align-items-end">
                                                <!-- Fecha reserva -->
                                                <p class="m-0">Reserva realizada el <%= or.reservationDate%></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    <% }); } %>
                </div> 
            </div>
        </div>
    
    </div>

    <!-- Importar footer -->
    <%- include("footer", { generalInfo: generalInfo }) %>
</body>

</html>