<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/facilities.css">
    <!-- Importar JS específicos -->
    <script src="/js/user_facilities.js"></script>
</head>

<body data-error="<%= JSON.stringify(error) %>">
    <!-- Importar modal error -->
    <%- include("../public/modal.html") %>
    
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>

    <div id="div-container" class="d-flex">
        <!-- Lista de instalaciones -->
        <div id="div-facilities-container" class="col-md-5 flex-column">
            <h1 class="mb-0"><%= facilityTypeName %></h1>
            <!-- Filtro aforo -->
            <div id="div-filter" class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <label for="input-n-people">¿Cuántos vais a ser?</label>
                    <input id="input-n-people" type="number" min="1"> 
                </div>                                     
                <button id="button-filter" type="button" class="button-riu bg-riu-primary">Ver disponibles</button>               
            </div>
            <!-- Resultados -->
            <div class="mt-4">
                <!-- Mensaje Nº resultados -->
                <p id="p-no-facilities">No hay ningún resultado que coincida.</p>
                <!-- Lista -->
                <% facilities.forEach(fac => { %>
                    <div class="div-facility justify-content-between" data-facility="<%= JSON.stringify(fac) %>">
                        <div class="d-flex flex-column">
                            <h2><%= fac.name %></h2>
                            <p><%= fac.startHour %> - <%= fac.endHour %></p>
                        </div>
                        <button type="button" class="button-see-more bg-riu-primary-dark align-items-end" data-facility="<%= JSON.stringify(fac) %>" data-typehaspic="<%= facilityTypeHasPic %>">Reservar</button>
                    </div>
                <% }); %>
            </div>
        </div>
        <!-- Visualización instalación -->
        <div id="div-show-facility" class="div-show-facility-res col-md-7">
            <!-- Foto -->
            <div id="div-facility-res-pic" class="col-xl-4 d-flex flex-column align-items-center">
                <button id="button-facility-back" class="button-riu bg-riu-primary d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="white" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                    </svg>
                    Atrás
                </button>
                <!-- JQuery -->
                <img id="img-facility-pic" src="" alt="Imagen instalación" width="270" height="270">                
                <h2 id="h2-facility-name"></h2>
                <p id="p-warning-res-type">¡Atención! Esta instalación es colectiva. Otros pueden reservarla al mismo tiempo si el aforo lo permite.</p>
            </div>
            <!-- Info instalación -->
            <form id="form-reserve" method="POST" action="/usuario/reservar" class="col-xl-7 offset-xl-1 d-flex flex-column">
                <!-- Fecha -->
                <label id="label-facility-date" for="input-facility-date">Día de la reserva</label>
                <input id="input-facility-date" name="date" type="date">
                <!-- Hora -->
                <p class="mt-2 mb-1">Hora:</p>
                <div id="div-hours"></div>
                <input id="input-hour" name="hour" type="hour" hidden="true">
                <!-- Info instalación (oculto) -->
                <input id="input-id-facility" name="idFacility" type="text" hidden="true">
                <input id="input-id-facility-type" name="idFacilityType" type="text" hidden="true">
                <!-- Botón reservar -->
                <button id="button-reserve" type="button" data-bs-toggle="modal" data-bs-target="#div-modal-reserve" class="button-riu bg-riu-primary">Termina tu reserva</button>
                <!-- Modal confirmar reserva -->
                <div id="div-modal-reserve" class="modal fade" aria-labelledby="label-modal-reserve" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-header bg-riu-primary">
                                Confirmar reserva
                                <button type="button" class="button-modal-x" data-bs-dismiss="modal" aria-label="Close">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="20" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                    </svg>
                                </button>
                            </div>
                            <!-- Body: formulario -->
                            <div class="modal-body d-flex flex-column">
                                <!-- Fecha y hora -->
                                <p id="p-date"></p>
                                <p id="p-hour"></p>
                                <!-- N-people -->
                                <div>
                                    <label for="input-facility-n-people">¿Cuántos vais a ser?</label>
                                    <input id="input-facility-n-people" name="nPeople" type="number" min="1" max="500">
                                </div>
                                <!-- Cola -->
                                <p class="d-none">
                                    <img src="/img/icons/queued.png" alt="Símbolo atención" width="20" height="20">
                                    ¡Atención! Esta instalación está llena, así que entrarás en la cola de espera. Si los que están antes cancelan la suya y puedes entrar, se te avisará.
                                </p>
                            </div>
                            <!-- Footer -->
                            <div class="modal-footer">
                                <button type="button" class="button-modal-cancel bg-riu-gray" data-bs-dismiss="modal" >Cancelar</button>
                                <button id="button-sb-reserve" class="button-modal-new-type bg-riu-primary">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Importar footer -->
    <%- include("footer", { generalInfo: generalInfo }) %>
</body>

</html>